.page.about{
  .features{
    margin:0 auto;
    width:937px;
    white-space: nowrap;
    font-size:20px;
    letter-spacing:1px;
    word-spacing: 0;
    li{
      display: inline-block;
      width:25%;
      height:155px;
      // float: left;
      text-align: center;
      span{
        margin-top:20px;
        display: block;
        width: 100%;
      }
      &:nth-child(1){
        margin-left:-25px;
      }
    }
    margin-bottom:80px;
  }
  p{
    width:937px;
    margin:0 auto 30px;
  }
  .qa{
    width:920px;
    margin:10px auto 80px;
    letter-spacing: 0;
    word-spacing: 0;
    h6{
      font-size:20px;
      color:#d70b2a;
      font-weight: bold;
    }
    span{
      font-size:15px;
      color:#717171;
      font-weight: bold;
    }
    li{
      position: relative;
      display: inline-block;
      text-align:center;
      padding-bottom:1em;

      width:287px;
      border: 2px solid #d70b2a;
      background-color: #fdf3f4;
      vertical-align: middle;
      &:before{
        display: block;
        width:278px;
        height:68px;
        margin:2px 0 0 2px;
        border:2px solid #fff;
        content: ' ';
        position:absolute;
      }
    }
    li + li{
      margin-left:10px;
    }
  }
}