.page.map{



  #map{
    width: 934px;
    height: 960px;
    display: inline-block;
    margin-bottom:80px;
  }
  nav{
    float:right;
    max-width:465px;
    height:960px;
    .prev,.next{
      background:url(../images/map/arrows-2.png);
      width:40px;
      height:22px;
      display: block;
      margin:10px auto;
    }
    .prev{
      background-position:0 -44px;
      &:hover{
        background-position:0 0;
      }
    }
    .next{
      background-position:0 -66px;
      &:hover{
        background-position:0 -22px;
      }
    }
    aside{
      height:900px;
      overflow: hidden;
      position:relative;
    }
    ul{
      width:425px;
      margin:0 0 0;
      position:relative;
      li{
          padding:12px 20px;
          height:280px;
          color:#313131;
          font-weight: normal;
          border:1px solid #15b5a4;
          position:relative;

          &:after{
            width:387px;
            height:217px;
            background:#000;
            opacity:0.5;
            left: 20px;
            position: absolute;
            top: 12px;
            display: block;
            content:' ';
            z-index:1;
          }
          &.active{
            transition-duration: 0.4s;
            &:after{
              opacity: 0;
            }
          }

          h4{
            font-size:18px;
            margin:5px 0 0;
          }
          p{
            font-size:11px;
            margin:0;
          }
          img{
            width:387px;
            height: 217px;
          }
          .more{
            color:#15b5a4;
            font-size: 11px;
            display: block;
            width: 70px;
            position:absolute;
            left:324px;
            top:-20px;
            text-align: right;
            position:relative;
            margin:0 0 25px;
            span{
              display: inline-block;
              top:2px;
              right:5px;
              height: 15px;
              line-height: 15px;
              width:70px;
              vertical-align: middle;
              transition-duration: 0.2s;
              transition-property: margin color;
              position: absolute;
              z-index: 1;
            }
            &:hover{
              i:before{
                transform: rotateZ(360deg);
              }
              i{
                width:67px;
                // left:47px;
              }
              span{
                color:#fff;
              }
            }
            i{
              color:#fff;
              position:absolute;
              background:#15b5a4;
              border-radius:6.5px;
              margin-right:5px;
              width:13px;
              height:13px;
              min-height:13px;
              display: inline-block;
              transition-duration: 0.2s;
              transition-property: width;
              left:0;
              top:2px;
              &:before{
                left: 0;
                position: absolute;
                top: 0;
                transition-duration: 0.2s;
                transition-property: transform;
              }
            }
          }
      }
      li + li{
        margin-top:24px;
      }
    }
  }

  .inmap{
    h3{
      font-size: 18px;
      margin:20px 0 5px !important;
    }
    p{
      line-height: 1.2em;
      font-size: 11px;
      margin:0 0 5px;
    }
    a{
      color:#15b5a4;
      font-size: 11px;
      display: block;
      width: 70px;
      float: right;
      text-align: right;
      position:relative;
      margin:0 0 25px;
      span{
        display: inline-block;
        top:0;
        right:5px;
        height: 15px;
        line-height: 15px;
        width:70px;
        vertical-align: middle;
        transition-duration: 0.2s;
        transition-property: margin color;
        position: absolute;
        z-index: 1;
      }
      &:hover{
        i:before{
          transform: rotateZ(360deg);
        }
        i{
          width:67px;
          // left:47px;
        }
        span{
          color:#fff;
        }
      }
      i{
        color:#fff;
        position:absolute;
        background:#15b5a4;
        border-radius:6.5px;
        margin-right:5px;
        width:13px;
        height:13px;
        min-height:13px;
        display: inline-block;
        transition-duration: 0.2s;
        transition-property: width;
        left:0;
        top:2px;
        &:before{
          left: 0;
          position: absolute;
          top: 0;
          transition-duration: 0.2s;
          transition-property: transform;
        }
      }
    }
  }
}