.page.map{



  #map{
    width: 934px;
    height: 960px;
    display: inline-block;
    margin-bottom:80px;
  }
  nav{
    float:right;
    max-width:465px;
    height:960px;
    ul{
      width:425px;
      padding:37px 0 0;
      li{
          padding:12px 20px;
          height:280px;
          color:#313131;
          font-weight: normal;
          border:1px solid #15b5a4;
          position:relative;

          h4{
            font-size:18px;
            margin:5px 0 0;
          }
          p{
            font-size:11px;
            margin:0;
          }
          img{
            width:387px;
            height: 217px;
          }
          .more{
            color:#f8b632;
            line-height: 8px;
            position:absolute;
            font-size:13px;
            right:17px;
            bottom:5px;
            height:13px;
            word-spacing: 0;
            display: inline-block;
            span{
              display: inline-block;
              height: 9px;
              line-height: 0;
              vertical-align: middle;
              transition-duration: 0.2s;
              transition-property: margin color;
              position: relative;
            z-index: 1;
            }
            &:hover{
              i:before{
                transform: rotateZ(360deg);
              }
              i{
                width:80px;
              }
              span{
                margin-left:-47px;
                color:#fff;
              }
            }
            i{
              color:#fff;
              position:relative;
              background:#f8b632;
              border-radius:6.5px;
              margin-right:0;
              width:13px;
              height:13px;
              min-height:13px;
              display: inline-block;
              transition-duration: 0.2s;
              transition-property: width;
              &:before{
                left: -2px;
                position: absolute;
                top: 0;
                transition-duration: 0.2s;
                transition-property: transform;
              }
            }
          }
      }
      li + li{
        margin-top:24px;
      }
    }
  }
}